{% extends "shop/base.html" %}
{% load static %}


{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="row g-3">
                    <div class="col-auto">
                        <input type="text" name="item_name" class="form-control" id="search" placeholder="search...">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-3 me-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="{{ product.image }}" class="img_product" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Price:</strong>
                                {{ product.price }}</li>
                            <li class="list-group-item"><strong>Category:</strong> {{ product.category }}</li>
                        </ul>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="product/{{ product.id }}" class="btn btn-outline-primary">View</a>
                            <button type="button" class="btn btn-outline-primary">Add to cart</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mtop">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.number }}">Current</a>
                    </li>

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}