{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="row g-3">
                    <div class="col-auto">
                        <input type="text" name="item_name" class="form-control" id="search" placeholder="search...">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-3 me-3">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="{{ product.image }}" class="img_product" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Price:</strong>
                                {{ product.price }}</li>
                            <li class="list-group-item"><strong>Category:</strong> {{ product.category }}</li>
                        </ul>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="product/{{ product.id }}" class="btn btn-outline-primary">View</a>
                            <button id="{{ product.id }}" type="button" class="btn btn-outline-primary atc">Add to
                                cart
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mtop">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.number }}">Current</a>
                    </li>

                    {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        $(document).on('click', '.atc', function () {
            var item_id = this.id.toString();
            if (cart[item_id] != undefined) {
                cart[item_id] = cart[item_id] + 1;
            } else {
                cart[item_id] = 1;
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById("cart").innerHTML = "<mark>cart(" + Object.keys(cart).length + ")</mark>";
            console.log(cart)
        });
    </script>
{% endblock %}